#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.containerMain {
  height: 100vh;
  padding: 10px;
  background-color: #111;
}

.containerMain .titleMain {
  font-size: 20px;
  color: #fff;
  margin-top: 0px;
}

.containerMain .contentValueToConvert {
  background-color: #222;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

.containerMain .contentOptionsConversion {
  background-color: #222;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

.containerMain .contentOptionsConversion h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 20px;
}

ion-range {
  width: 100%;
  background-color: rgba(129, 129, 129, 0.222);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
}

ion-button {
  width: 100%;
  margin-top: 0px;
}

ion-button span {
  background-color: red;
}

.labelOutput {
  color: #fff;
}

.labelRange {
  color: #e3e3e3;
  font-size: 15px;
}

ion-radio {
  padding: 5px;
  background-color: rgba(129, 129, 129, 0.222);
  margin-right: 3px;
  border-radius: 10px;
  margin-bottom: 3px;
}