<ion-alert trigger="calc" header="Valor final da viagem:" message={{message}} [buttons]="calcButton">
</ion-alert>

<ion-content [fullscreen]="true">
  <div class="containerMain">
    <h1 class="titleMain">Selecione o tipo de veículo:</h1>
    <ion-radio-group [(ngModel)]="typeVehicle">
      <ion-radio value="normal">
        <h1>Normal</h1>
        <p>Inicial: R$5,00</p>
        <p>KM Rodado: 2,50 </p>
      </ion-radio><br />
      <ion-radio value="superior">
        <h1>Superior</h1>
        <p>Inicial: R$7,50</p>
        <p>KM Rodado: R$3,50</p>
      </ion-radio><br />
      <ion-radio value="vip">
        <h1>VIP</h1>
        <p>Inicial: R$10,00</p>
        <p>KM Rodado: R$5,50 </p>
      </ion-radio><br />
    </ion-radio-group>
    <ion-input [(ngModel)]="amountKmDriven" type="number" class="custom" color="primary"
      placeholder="Digite a quantidade de quilômetros rodados"></ion-input>
    <ion-button (click)="calcFunction()" id="calc" color="light">Calcular</ion-button>
  </div>
</ion-content>
